*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

app/templates/base.html

app/templates/index.html

.idea/
app.db

db_repository/README

db_repository/__init__.py

db_repository/manage.py

db_repository/migrate.cfg

db_repository/versions/001_migration.py

db_repository/versions/002_migration.py

db_repository/versions/__init__.py

paper/main.log

paper/main.aux

paper/main.out

paper/main.synctex.gz

paper/main.bbl

paper/main.blg

paper/main.pdf

paper/Archive.zip
